* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  /* width: 90%; */
  padding: 0px 80px;
  background-color: #FAF9F6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
nav img {
  height: 80px;
}
nav ul {
  display: flex;
  gap: 40px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  padding: 5px;
  border-radius: 3px;
  text-decoration: none;
  color: #4E944F;
}
nav ul li a:hover {
  color: #fff;
  background-color: #4E944F;
}
nav .active {
  font-weight: bold;
}
nav .nav-R {
  display: flex;
  gap: 20px;
}

.wel-sec {
  height: 600px;
  padding: 80px;
  background-image: url(/img/wel-product.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.471);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wel-sec h2 {
  text-align: center;
  font-size: 2.2rem;
  color: #4E944F;
  margin-bottom: 30px;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}
.wel-sec p {
  font-size: 1.2rem;
  width: 900px;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.cards-sec-container {
  padding: 60px 80px;
}
.cards-sec-container h2 {
  text-align: center;
  font-size: 2.2rem;
  color: #4E944F;
  margin-bottom: 30px;
}
.cards-sec-container .cards-sec {
  display: flex;
  justify-content: space-between;
}
.cards-sec-container .sk-card, .cards-sec-container .cmt-card {
  width: 46%;
  height: 320px;
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.cards-sec-container .sk-card p, .cards-sec-container .cmt-card p {
  width: 380px;
}
.cards-sec-container .sk-card .button-74, .cards-sec-container .cmt-card .button-74 {
  width: 120px;
  padding: 0 18px;
  background-color: transparent;
  border: 1px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  cursor: pointer;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}
.cards-sec-container .sk-card .button-74 a, .cards-sec-container .cmt-card .button-74 a {
  color: #422800;
  text-decoration: none;
}
.cards-sec-container .sk-card .button-74:hover, .cards-sec-container .cmt-card .button-74:hover {
  font-weight: bolder;
}
.cards-sec-container .sk-card {
  background-image: url(../../../img/sk/sk.png);
}
.cards-sec-container .cmt-card {
  background-image: url(../../../img/cmt/cmt.png);
}

footer {
  padding-top: 40px;
  background-color: #FAF9F6;
}
footer p {
  color: #3B2F2F;
}
footer h3 {
  color: #4E944F;
}
footer .foot-top-container {
  padding: 0px 80px;
  display: flex;
  justify-content: space-between;
}
footer .foot-top-container .foot-parents-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .foot-top-container .foot-parents-logo img {
  height: 100px;
}
footer .foot-top-container .foot-parents-logo p:nth-child(2) {
  font-family: Verdana;
  font-weight: bold;
}
footer .foot-top-container .foot-parents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .copyright {
  width: 100%;
  margin-top: 40px;
  padding: 15px 0px;
  background-color: #4E944F;
}
footer .copyright p {
  color: #fff;
  text-align: center;
}/*# sourceMappingURL=s-products.css.map */