@import '../_variables.scss';
@import '../_mixin.scss';





nav {
    /* width: 90%; */
    padding: 0px 80px;
    background-color: $bg-color;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    img {
        height: 80px;
    };
    ul {
        display: flex;
        gap: 40px;
        li {
            list-style: none;
            a {
                padding: 5px;
                border-radius: 3px;
                text-decoration: none;
                color: $primary-color;
            };
            a:hover {
                color: #fff;
                background-color: $primary-color;
            }
        };
    };
    .active {
        font-weight: bold;
    };
    .nav-R{
        display: flex;
        gap: 20px;
    }
}