@import '../../_variables.scss';
@import '../../_mixin.scss';


.page-intro {
    height: 140px;
    padding-top: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
    color: $primary-color;
    font-size: 2rem;
    margin-bottom: 10px;
    };
    p {
    color: $text-color;
    font-size: 1.1rem;
    padding: 0px 300px;
    };
};