@import '../../_variables.scss';
@import '../../_mixin.scss';


@media (max-width: 1000px) and (min-width: 720px) {
    .wel-sec-container {
        height: 400px;
        img{
            width: 360px;
        };
    };

    .tip-sec {
        padding: 40px;
        h2 {
            font-size: 2rem;
            margin-bottom: 25px;
        };
        .tip-card-container {
            padding: 40px 20px;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 40px;
            .tip-card {
                width: 46%;
                fieldset {
                    padding: 20px;
                    legend {
                        img {
                            width: 50px;
                        };
                    };
                };
            };
        };
    };

    .story-sec {
        padding: 40px;
        gap: 30px;
        .story-L {
            display: block;
            .story-L1 {
                display: none;
            };
            .story-L2 {
                display: none;
            };
            .story-L4 {
                display: none;
            };
        };
    };
};


@media (max-width: 600px) and (min-width: 360px) {
    .wel-sec-container{
        height: 200px;
        padding-top: 40px;
        gap: 0px;
        img {
            width: 180px;
        };
        .wel-L {
            h2 {
                margin-bottom: 10px;
                font-size: 1.6rem;
                font-weight: 500;
            };
            p {
                font-size: 0.8rem;
                margin-bottom: 20px;
            };
            p:nth-child(3) {
                display: none;
            };
            button {
                padding: 6px 10px;
                font-size: 0.8rem;

                border-radius: 4px;
            };
        };
    };

    .tip-sec {
        padding: 40px 20px;
        h2 {
            @include sec-title-phone;
        };
        .tip-card-container {
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 40px;
            .tip-card {
                width: 90%;
                fieldset {
                    padding: 15px;
                    h3{
                        font-size: 1rem;
                    };
                    p{
                        font-size: 0.8rem;
                    };
                    legend {
                        img {
                            width: 50px;
                        };
                    };
                };
            };
        };
    };

    .story-sec {
        padding: 40px 20px;
        display: block;
        .story-L {
            display: none;
            };
        .story-R {
            h2 {
                @include sec-title-phone;
            };
            p {
                font-size: 0.8rem;
                margin-top: 20px;
            };
        };
    };
}